body {
  color: #201f1f;
  margin: 0;
  font-family: "Alkalami", serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Alkalami", serif;
  font-weight: 400;
  font-style: normal;
}


.addFormContainer{
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin : 10px;
  border : solid 1pt #302e2e ; 
  background-color: #727272;
  border-radius: 10px;
}

.AddPostContainer{
  background-color: #626aad;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}


#AddPostHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

.addFormContainer button {
  padding: 10px ;
  margin: 10px;
  background-color: #767fd3;
  border-color: #767fd3;
  border-radius: 10px;
}

.addFormContainer button:hover {
  background-color: #3b4388;
  border-color: #3b4388;
  border-radius: 8px;
  color: #fff;
}


.addFormContainer input {
  padding: 10px ;
  margin: 10px;
  border-radius: 10px;
}

.addFormContainer textarea {
  padding: 10px ;
  margin: 10px;
  border-radius: 10px;
}

.addFormContainer label {

  font-size: 16pt;


}

.post-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #767fd3;
  height: 100%;
  }

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10%;
  padding: 10px;
} 

.search-bar input {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  padding: 10px;
  border: 3px solid #302e2e;
}

.post-card {
  border: 5px solid #201f1f;
  padding: 10px;
  margin: 10px;
  margin-top: 0px;
  border-radius: 5px;
  width: 300px;
  max-height: 400px  ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #929295;
}

.post-card-content {
  border-radius: 5px;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.post-detailes-body{
  padding: 30px;
  margin: 10px;
  text-align: center;
  height: 65vh;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: xx-large;
  color: #302e2e;
}



.post-detailes-header {
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 0px;
  background-color: #929295;
  text-decoration: none;
  color: #201f1f;
  width: 100% ;
  justify-content: center;
  text-align: center;
  font-size: 38pt;
}

#linkpost {
  justify-content: center;
  text-align: center;
  color: #201f1f;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 0px;
  text-decoration: none;
}

.card-container {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #3b4388;

}

.post-card-tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type:none;
  margin: 0px;
  margin-top: 20px;
  padding: 15px;
  max-height: 50px ;
  background-color: #929295;
  width: 90%;
}

.post-detailes-tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type:none;
  margin: 0px;
  margin-top: 20px;
  padding: 15px;
  max-height: 50px ;
  background-color: #929295;
  width: 100%;
}

.tags {

  display: flex;
  flex-direction: row;
  justify-content: center;  
  align-items: center;
  list-style-type:none;
  margin: 5px;
  text-align: justify;
  border: 1px solid #302e2e;
  border-radius: 20px;
  padding: 10px;
}

.tags:hover {
  background-color: #3b4388;
  color: #fff;
  cursor: pointer;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3b4388;
}




.likes:hover{
  color:#014000
}

.dislikes:hover{
  color:#420101
}


.backBtn {
  padding: 10px;
  margin:20px;
  border-radius: 10px;
  justify-content: flex-end;
  background-color: #767fd3;
  border-color: #767fd3;
}

.backBtn:hover {
  color: #fff;
  background-color: #626aad;
  border-color: #626aad;
}